/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







button {
    position: relative;

    width: 4em;
    height: 4em;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

button span {
    display: block;
    width: 50%;
    height: 1px;
    background-color: black;

    position: absolute;
    transition: .3s;
}

button span:nth-child(1){
    transform: translateY(-5px);
}

button span:nth-child(2){

}

button span:nth-child(3){
    transform: translateY(5px);
}

nav.menuOpen button span {
    height: 5px;
}

nav.menuOpen button span:nth-child(1) {
    transform: rotate(45deg);
}

nav.menuOpen button span:nth-child(2) {
    opacity: 0;
}

nav.menuOpen button span:nth-child(3) {
    transform: rotate(-45deg);
}

body p  {
    font-family: 'Arvo', serif;
    line-height: 1.5em;
}

header {
    display: flex;
}

.IsabellePage {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 667px;
    background-image: url(/Images/hero-bg-desktop.jpg);
    background-position: center;
}

h1 {
    font-family: 'Arvo', serif;
    font-size: 25px;

    position: absolute;
    color: #834B16;
    top: 30px;
    left: calc(50% - 87.5px);
}

.IsabellePage img:first-of-type {
    position: absolute;
    left: calc(50% - 87.5px);
    width: 175px;  
    top: 70px;
}

.IsabellePage img:nth-of-type(2) {
    position: absolute;
    left: calc(50% - 87.5px);
    width: 175px;  
    top: 200px;
}

.IsabellePage p {
    top: 430px;
    
    width: 280px;
    font-size: .95em;
    padding: 70px 70px 110px;
    text-align: center;
    
    background-image: url(/Images/sign_2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 360px;
    position: absolute;
    left: calc(50% - 210px);
    color: white;
}

.BirthdayPage {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 270px;
    background-color: red;
}

h2 {
    font-family: 'Arvo', serif;
    font-size: 25px;
    width: 100%;
    text-align: center;
    left: calc(50% - 87.5px);
    padding-top: 20px;
}

.BirthdayPage p {
    width: 200px;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 50px;
    left: calc(50% - 100px);
}

.BirthdayPage img {
    position: absolute;
    left: calc(50% - 87.5px);
    width: 175px;  
    top: 110px;
}

#BirthdayNav {
    position: absolute;
    width: 100px;
    top: 75px;
    left: calc(50% - 29px); 
}

